<div class="content">
  <div class="question">
    <%= @answer.problem %>
  </div> <!-- question -->
  <div class="answer">
    <%= simple_format(@answer.quote.content) %>
  </div> <!-- answer -->
  <div class="source">
    <%= simple_format(@answer.quote.source) %>
  </div> <!-- source -->
</div> <!-- content -->