<!DOCTYPE html>
<html>
<head>
  <title>Sign</title>
  <%= stylesheet_link_tag    "sign" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="box">
      <%= yield %>
    </div>
  </div>
</body>
</html>
